.navbar-brand {
    font-family: "Open Sans", sans-serif;
    color: #4e4e4e;
    font-size: 25px;

}

.navbar .navbar-brand {
    /* Changes navbar-brand color */
    color: #4e4e4e !important;

}

/* 
Google Colors
Blue: #4285F4
Red: #DB4437
Yellow: #F4B400
Green: #0F9D58

*/

.navbar .navbar-toggler{
    /* color: red !important; */
    background-color: #4285F4 !important;
}

.navbar .nav-item{
    color:black !important;
    /* background-color: black; */
}
.navbar .nav-item:hover{
    color: #4285F4 !important;
}



.navbar {
    /* -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999; */
    background-color: white !important;
    min-height: 65px;
}

/* .last-item {
    padding-right: 20px !important;
} */

/* img {
    margin-left: 10%;
} */

html {
    scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}



body {
    margin: 0;
    font-size: 1.2rem;
    font-weight: normal;
    line-height: 1.5;
    color: black;
    text-align: center;
/* background-color: #4e4e4e; */
    /* overflow-x: hidden !important; */
}

.sec0 {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0;
    height: 100vh;
    text-align: center;
}


.fi{
    font-size: 3.5vmin;
    display: block;
    padding-bottom: 2rem;
    color: #231f34;
    padding-left: 10rem;
    padding-right: 10rem;
}

h1 {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;;
    font-size: 9vmax;
}

.section {
    padding: 80px 0;
    text-align: center;
    /* height: 100vh; */
}

.section-a {
    /* background: #4e4e4e; */
    color: black;
}

.v-slider-frame {
    /* border: 1px solid #4BB3FD; */
    height: 50px;
    overflow: hidden;
    text-align: center;

}

ul.v-slides {
    list-style-type: none;
    transform: translateY(50px);
    padding: 0;
    color: white;
}

.rounded-circle{
    /* width: 180px;
    height: 180px; */
    display: inline-block;
    /* position: relative; */
    width: 180px;
    height: 180px;
    /* overflow: hidden;  */
    border-radius: 50%;
}

.row1 {
    display: inline-block;
}

.v-slides li:nth-child(1) {
    background: #4285F4;
}

.v-slides li:nth-child(2) {
    background: #DB4437;
}

.v-slides li:nth-child(3) {
    background: #0F9D58;
}

.v-slides li:nth-child(4) {
    background: #F4B400;
}


.v-slide {
    font-size: 24px;
    line-height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    /* color: #4BB3FD; */
}
/* img{
    background-color: black;
} */

.carousel-inner img {
    display:inline-block  !important;
    margin: 0 auto;
    opacity: 0.80;
    width: 100%;
    height:570px;
  }

.carousel-caption h5{
    /* display: inline;
    text-shadow: 4px 4px 14px rgba(150, 150, 150, 0.94); */
    display: inline;
    background-color: white;
    color: black;

}

.pad-do{
    padding-bottom: 50px;
}

.form-box {
    max-width: 500px;
    margin: auto;
    padding: 50px;
    background: white;
  }

.form-control{
    /* border-radius: 15px 15px 15px 15px; */
    background-color: white;
}

  h1, p {
    text-align: center;
  }
  
  input, textarea {
    width: 100%;
  }

@media screen and (max-width:960px) {
    .fi{
        font-size: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .section {
       padding-top: 130px;
    }
    .carousel-inner img {
        height:250px;
      }
      .section-a{
          padding-top:350px;
      }
      .section-c{
          padding-bottom:100px;
      }
}

.fo{
    font-size:3rem;
}

@media (max-width: 767px) {
    #pushContent {
    height: 222.5px;
    width:100%;
    display: none;
    }
}

@media (max-width: 480px) {
    #pushContent {
    height: 222.5px;
    width:100%;
    display: none;
    }
}
.fa-heart{
    color:red;
}
a:hover {
    text-decoration: underline;
   }


