.nav-gradient {

    /*Google_Green- 0F9D58*/
    background: -webkit-linear-gradient(120deg, #4285F4 33%, rgba(0, 0, 0, 0) 33%), -webkit-linear-gradient(120deg, #0F9D58 66%, #DB4437 66%);
}

.navbar-brand {
    font-family: Rubik;
    font-size: 35px;
    margin-left: 43%;
}

/* .navbar .navbar-brand {
    /* Changes navbar-brand color */
/* color: black !important ; 
}*/

*/ .nav-item {
    font-size: 20px;
}

html {
    scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 1.2rem;
    font-weight: normal;
    line-height: 1.5;
    color: #333;
    overflow-x: hidden;
}

.sec0 {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0;
    height: 100vh;
    text-align: center;
}

p {
    font-size: 1.5rem;
    display: block;
    padding-bottom: 2rem;
    color: #231f34;
    padding-left: 10rem;
    padding-right: 10rem;
}
h1 {
    font-family: Rubik;
    color: #757575;
    font-size: 3rem;
}
.section {
    padding: 100px 0;
    text-align: center;
    height:100vh;
}

.section-a {
    background: #333;
    color: #fff;
}


@media(max-width:960px) {
    p {
        font-size:1rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    */
    .section{
        padding-top: 100px;
    }

    .navbar-brand {
        margin-left: 29%;
    }
}
@media(max-width:1300px){
    p{
        padding-left: 3rem;
        padding-right: 3rem; 
    }
}

